.mainpage {
	/*height: 622px;
	position: fixed;*/
}
#currRequest {
	height: 612px;
	overflow: scroll;
}
#buttons {
  width: 100%;
}
#notify thead tr th {
	text-align: center;
}
#notify tbody tr td {
	word-wrap: break-word;
}
table {
	table-layout: fixed;
	width: 100%;
}
#notification {
	height: 400px;
	overflow: auto;
}