/* This is part of the shell */
/*
.profileimage {
	margin-left: 40px;
	padding-top: 15px;
}
.username {
	margin-left: 32px;
}
#buttons {
  width: 100%;
}
*/
textarea {
	display: block;
	resize: none;
}