/* This is part of the shell */
/*
.profileimage {
	margin-left: 40px;
	padding-top: 15px;
}
.username {
	margin-left: 32px;
}
#buttons {
  width: 100%;
}
*/
textarea {
	display: block;
	resize: none;
}
#rateReq {
	height: 100%;
	width: 100%;
	margin-bottom: 5px;
}
#complete {
	float: left;
	margin-right: 5px;
}
#positiveExp {
	height: 34px;
    width: 300px;
    text-align: center;
}
#changeProf {
	width: 136px;
	margin-left: 288px;	
}